{% extends 'layout.html' %}
{% block content %}
<h1> Empowering youth to create their own technology projects</h1>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="./static/profile_pics/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prospective Volunteers</h5>
          <p class="card-text">If you're passionate about technology and engineering and want to help youth build their own projects. <a href="{{url_for('main.volunteers')}}">Learn more here </a></p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="./static/profile_pics/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prospective Teachers</h5>
          <p class="card-text">Teachers of grades 7-12, bring Future Creators to your school. We are working on digital delivery and would love to work with you to implement a system best for you. <a href="{{url_for('main.teachers')}}">Learn more here </a></p>
        </div>
      </div>
    </div>
  </div>
  <h1> Upcoming events</h1>
    {% for event in events.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_pics/' + event.author.image_file) }}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=event.author.username) }}">{{ event.author.username }}</a>
                <small class="text-muted">{{ event.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=event.id) }}">{{ event.title }}</a></h2>
           
                <img src="{{url_for('static', filename='profile_pics/' + event.image_file) }}">
            
            <p class="article-content">{{ event.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% for page_num in events.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if events.page == page_num %}
                <a class="btn btn-info mb-4 " href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4 " href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}
