{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4"> Volunteers </h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead"><a href="{{url_for('main.contact')}}">Sign up on our form </a> and we will reach out to chat with you and find a schedule that works for you. If you have a passion for engineering and technology and waant to be mentor to inspire that same passion in students in grades 7-12, <a href="{{url_for('main.contact')}}">sign up here </a>. You and a partner will be matched with a school to provide after school mentorship and build a technology project. Even if you've never built a technology project before, no need to worry! We provide all the training and guidance you need. For more challenging projects, you will also have access to our University of Alberta Engineering Faculty partners for support. </p>
        </div>
    </div>
</div>
{% endblock content %}
